
<div class="wrapper">
    <h2 class="text-primary fw-bold mb-4">URL Shortener</h2>
    <img class="mb-4" src="/img/logo.png" alt="logo" width="100" height="100">

    <div class="inner-wrapper">
        {{#if shortCode}}
            <h5 class="fw-bold">Success! Please use this link</h5>
            <a class="mb-3" id="shortenedUrl" href="/{{shortCode}}"></a>
            <div>
                <button class="btn border-success fw-bold inner-button" onclick="urlCopy(event)">Copy Url</button>
                {{!-- <button class="btn border-success fw-bold inner-button" type="reset">Reset</button> --}}
                <a class="btn border-success fw-bold inner-button" href="/">Try New</a>
            </div>
        {{else}}
            <form action="/" method="POST">
                <input class="form-control mb-4" type="url" name="originalURL" placeholder="Input URL here" required>   {{!-- 標示為必要欄位，防止使用者送出空值 --}}
                <button class="btn border-success fw-bold inner-button" type="submit">Shorten</button>
                <button class="btn border-success fw-bold inner-button" type="reset">Reset</button>
            </form>
        {{/if}}
    </div>

    {{!-- 追加QRcode顯示 --}}
    {{#if shortCode}}
        <div><canvas class="mt-3" id="canvas"></canvas></div>
        <button class="btn border-success fw-bold inner-button" onclick="qrcodeDownload()">Download</button>
    {{/if}}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode/1.5.1/qrcode.min.js" integrity="sha512-PEhlWBZBrQL7flpJPY8lXx8tIN7HWX912GzGhFTDqA3iWFrakVH3lVHomCoU9BhfKzgxfEk6EG2C3xej+9srOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    {{#if shortCode}}

        // 設定顯示短網址
        const shortenedUrl = document.querySelector('#shortenedUrl');
        shortenedUrl.textContent = location.protocol + '//' +location.host + '/' + '{{shortCode}}';

        // 繪製QRcode及下載功能
        let canvas = document.querySelector('#canvas');
        QRCode.toCanvas(canvas, shortenedUrl.textContent, err => { if(err) console.error(error); });

        function qrcodeDownload() {
            let link = document.createElement('a');
            link.download = 'qrcode.png';
            link.href = canvas.toDataURL();
            link.click();
        }

        // 複製網址到剪貼簿(use Clipboard API)
        function urlCopy(e) {
            navigator.clipboard.writeText(shortenedUrl.textContent);

            // 樣式變更
            const btn = e.target;
            btn.innerHTML = '<i class="fa-solid fa-circle-check"></i> Copied';
            btn.style="color: green;"
        }

    {{/if}}

</script>

<style>

    .wrapper {
        max-width: 460px;

        margin: 5% auto;
        text-align: center;
    }

    .inner-wrapper {
        height: 120px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
    }

    .inner-button {
        height: 40px;
        width: 110px;
    }
</style>